<nav class="navbar navbar-light bg-light">
  <div class="background-color">


      <div class="row">
           
          <div class="col-md-3 col-lg-3">
              <a class="" style="white-space: nowrap" href="claims/add"> Favorites</a>
          </div>
          <div class="col-md-3 col-lg-3">
              <a style="white-space: nowrap" href="/profile">My Jobs</a>
          </div>

          <div class="col-md-3 col-lg-3">
              <a class="" style="white-space: nowrap" href="/login">Home</a>
          </div>

          <div class="col-md-3 col-lg-3">
            <a class="" style="white-space: nowrap" href="/signup">Logout</a>
        </div>
        <div class="header-style">
                <p>HandyMax</p> 
              </div>
    </div>


    

  </div>
</nav>
<div id="main-wrapper" >

  <!-- ============================================================== -->
  <!-- Page wrapper  -->
  <!-- ============================================================== -->
  <div class="page-wrapper">


   
      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
      <router-outlet ></router-outlet>
      <!-- ============================================================== -->
      <!-- End Start Page Content -->
      <!-- ============================================================== -->

 </div>

  <!-- ============================================================== -->
  <!-- End Page wrapper  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- footer -->
  <!-- ============================================================== -->


  <!-- ============================================================== -->
  <!-- End footer -->
  <!-- ============================================================== -->

</div>
<!-- <footer class="footer row">
  <div class="fix-width">
     
      <div class ="footer col-md-12">
          <a class="" href="claims/add"> Favorites</a>
          <a class="" href="/profile">My Jobs</a>
          <a class="" href="/login">home</a>
          <a class="" href="/signup">Settings</a>
        </div>
      
    <div class="row">
      
      <div class="clearfix"></div>
      <div class="col-md-12 sub-footer">
        <span>Copyright 2018. All Rights Reserved</span>
        <span class="pull-right">Design & Developed by Me</span>
      </div>
    </div>
  </div>
</footer> -->


<footer class="footer-row">
    <div class="page-footer-container">
  
      
    </div>
  </footer>