/* footer {
      font: bold;
      padding: 5px;
      margin: 0px;
}

/*  */
header-style {
      text-decoration-style: solid 15px;
      float: right;
      align-content: right;
      
}
/* 
.footer-row {
      color: #fff;
      font-family: 'AvenirLTStd-Book';
      padding: 20px 0;
      border-top: 1px solid #96aab1;
      background-color: #1d4959;
      position: absolute;
      width: 100%;
      bottom: 0px;
      left: 0px;
  } */