<Div class="provider-header">
<p style="text-align: center">
  Find same-day help for over 100 pre-priced home services!
</p>
</Div>

  <div class="container2">
    <div class="row"  >
      <div class="col-3"></div>
      <div class="col-3">
          <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="/assets/images/background/Gardner.jpeg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Gardener</h5>
                <p class="card-text">Approved Providers are available to complete some of our most popular lawn and garden services today.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
      </div>
      
      <div class="col-3">
          <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="/assets/images/background/images.jpeg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Plumber</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
      </div>
      <div class="col-3"></div>
    </div>  

   <div class="row">
      <div class="col-3"></div>
      <div class="col-3">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="/assets/images/background/contractor.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Handyman</h5>
            <p class="card-text">Finding a local handyman for pre-priced small home improvements has never been so easy.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-3">
          <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="/assets/images/background/cleaner.jpeg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Cleaner</h5>
                <p class="card-text">Find help fast for a variety of cleaning and housekeeping services.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
      </div>
      <div class="col-3"></div>
    </div>
  </div>